{% include "partials/duckduckgo/meta/base.njk" %}

{% block title %}
<title>{{ pageTitle or 'DuckDuckGo' }}</title>
<meta property="og:title" content="{{ pageTitle or 'DuckDuckGo' }}" />
{% endblock %}

{% block pageHead %}{% endblock %}
